Java Service
- API / methods
    - sign File & return signature
        - args: 
            - file: File
            - key: String
    - verify signature & return Boolean
        - args: 
            - file: File
            - key: String
            - signature: ???